In [2]:
import os
import pandas as pd
import random
import logging

In [3]:
print("Data preprocessing script 1")

Data preprocessing script 1

   record_id            question            response  is_human
0          1  Sample question 1?  Sample response 1.         1
1          2  Sample question 2?  Sample response 2.         0
2          3  Sample question 3?  Sample response 3.         1
3          4  Sample question 4?  Sample response 4.         0
4          5  Sample question 5?  Sample response 5.         1

In [ ]:
df_dataset.to_parquet('full_dataset.parquet', compression='snappy', index=False)